<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>friend</display-name>
  <servlet>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.x1a0ch1.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ActionServlet</servlet-name>
    <servlet-class>com.x1a0ch1.servlet.ActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/checkcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ActionServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
</web-app>